extends layout

block header
	h3=user_open.username
	- if (user_open.id != user.id)
		- if (follow)
			a(href='/unfollow/#{user_open.id}').btn.btn-danger Unfollow
		- else
			a(href='/follow/#{user_open.id}').btn.btn-success Follow

block content
	.col-md-6
	.col-md-6
		- each post in posts
			.clearfix
				.col-md-2
					- if (post.image)
						img(src='/#{post.image}', alt='#{post.username}', height='50', width='50').img-thumbnail
					- else 
						img(src='/default.png', alt='#{post.username}', height='50', width='50').img-thumbnail
				.col-md-10
					b
						a(href='/user/#{post.id}') #{post.username}
					p #{post.tweet}
					
			hr